<!-- templates/blog/post_list.html -->

{% extends "base.html" %}

{% block content %}
    
    <h2>Ultimi Articoli</h2>
    <hr>


    {% for post in posts %}
        <article class="post-summary">
            
            <h3>

                <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h3>

            <p class="post-meta">
                Pubblicato il {{ post.created_at|date:"d F Y" }} <small>da {{ post.author }}</small>
            </p>
            
            <div class="post-excerpt">

                {{ post.content|truncatechars:150|linebreaks }}
            </div>

            <a href="{% url 'blog:post_detail' pk=post.pk %}" class="read-more">Leggi tutto...</a>

        </article>
    {% empty %}
        <!-- Questo blocco viene mostrato se la lista 'posts' è vuota -->
        <p>Non ci sono ancora articoli nel blog. Torna più tardi!</p>
    {% endfor %}

{% endblock content %}