<!-- templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Mio Super Mega Blog</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <header>
            <!-- Il link nell'header riporta sempre alla lista dei post -->
            <h1><a href="{% url 'post_list' %}">Il Mio Super Blog</a></h1>
            <p>Un viaggio nello sviluppo con Django e Python.</p>
                <nav>
                <a href="{% url 'post_create' %}">Nuovo Post</a>
                </nav>
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
            <p>&copy; 2025 - Progetto Didattico Full Stack</p>
        </footer>
    </div>

</body>
</html>