/* src/index.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191919;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.display {
    background-color: #949494;
    color: white;
    font-size: 2.5em;
    padding: 10px;
    text-align: right;
    border-radius: 4px;
    margin-bottom: 20px;
}

.tastiera {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Stile base per tutti i bottoni */
.bottone {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e0e0e0;
}

.bottone:hover {
    background-color: #d0d0d0;
}

/* Stile specifico per i bottoni operatore */
.operatore {
    background-color: #f39c12; /* Un bell'arancione */
    color: white;
}

.operatore:hover {
    background-color: #e67e22;
}